body {
    background-color: rgb(237, 227, 210);
    margin: 4%;
}

h1 {
    color: rgb(177, 58, 58);
}

.footer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: left;
    padding: 2px;
}

a {
    color: inherit;
}

a:hover {
    color: rgb(255, 64, 64);
}

.content {
    background-color: rgb(243, 238, 228);
    border-style: solid;
    border-color: rgb(177, 58, 58);
    padding: 5px;
}